{%include "header.html"%}

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>About me.</h2>
						</header>
						<p>I'm self-taught programmer, .</p>
						<ul class="actions">
							<li><a href="http://127.0.0.1:5001" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Projects</h2>
						<div class="row">
							{% for post in all_posts %}
							<article class="col-6 col-12-xsmall work-item position-relative">
								<a class="image fit thumb " style="cursor: pointer; outline: 0px;
								width: 20em; height: 12em; "
								   href="/static/images/project/{{post.img_name}}">
									<img src="/static/images/project/{{post.img_name}}"
										 class="img-fluid" alt="image of project" style="width: 20em; height: 12em"></a>
								<h3><a href="{{ post.project_url }}">{{ post.title }}</a>
									<a href="{{url_for('delete_post', post_id=post.id) }}">✘</a></h3>
								<p>{{ post.body }}<a class="button position-absolute start-50 translate-middle-y"
													 href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a></p>

							</article>
							{% endfor %}
						</div>
						<ul class="actions">
							<li><a href="https://github.com/NiebianskoLicy"
								   class="button icon brands fa-github">Full Portfolio</a></li>
							<li><a href="{{ url_for('add_post') }}"
								   class="button">Add Project</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>If you want to contact me, or if you have some questions write to me down here.</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="post" action="http://127.0.0.1:5001/#">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name"></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email"></div>
										<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message"></li>
								</ul>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-home"><span class="label">Address</span></h3>Poland, Cracov</li>
									
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="#">@</a></li>
								</ul>
							</div>
						</div>
					</section>
			</div>
			
	</body>
</html>
